.stats {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

body {
  background-color: white;
}

input {
  width: 2.5rem;
}
