.stats {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* @media (max-width: 500px) {
  .stats {
    flex-direction: column;
  }
} */

body {
  background-color: white;
}

input {
  width: 4rem;
}
